$base-color = #464C5B;
$primary-color = #2D8CF0;
$text-color = #657180;
$text-info-color = #9EA7B4;
$bg-color = rgba(45, 140, 240, 0.6);
$grey-v1 = #dcdee2;
$grey-v2 = #C5C7CE;
$grey-v3 = #AEAEAE;
$shadow-v1 = rgb(221, 222, 226) 0px 1px 4px;