/* eslint-disable */
/**
 * 本文件由工具自动生成，请勿随意改动！！！
 * @name {{title}}
 * @description {{description}}
 * @tutorial {{fileUrl}}
 */
import api from '@api/api'
import http from '@utils/ajax'
import { awaitWrap } from "@utils";

{{#each apis}}
/**
 * {{description}}
{{#if paramIsArray}}
 * @param { Object } params 请求参数
{{#each params}}
 * @param { {{type}} } params['{{name}}'] {{description}}
{{/each}}
{{/if}}
{{#if paramIsObj}}
 * @param { Array } params 请求参数
{{#each params.items}}
 * @param { {{type}} } params[]['{{name}}'] {{description}}
{{/each}}
{{/if}}
 */
export const  {{apiName}} =async (params) => {
    // send request
    {{#if defaultParams}}
    params = Object.assign({
        {{#each defaultParams}}
        {{name}}: {{value}},
        {{/each}}
    }, params)
    {{/if}}
    return awaitWrap(http.{{method}}(api.{{name}}, params))
}

{{/each}}
